@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to bottom right, #a4b8db, #e2a199);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    min-height: 100vh;
    font-size: 1.6rem;
    transition: all 0.5s ease;
}


/* ----- header css starts here ----- */

.navigation {
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 5px grey;
}

.navigation .logo h1 {
    font-size: 3.5rem;
    color: #fff;
    margin-left: 80%;
    font-family: 'Ranchers';
    letter-spacing: 2px;
    display: block;
    font-weight: 500;
    margin-top: 0rem;
}

.navigation .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    background-color: #21597e;
    outline: none;
    border: none;
    margin-right: 10%;
    transition: 0.3s;
}

.navigation .icon:hover {
    background-color: #fff;
    color: #21597e;
}

header {
    text-align: center;
    margin: 0rem 0 1rem 0;
    .links {
        text-transform: uppercase;
        text-align: center;
        font-size: 120%;
        margin-top: 4rem;
        font-weight: 500;
        .link:link,
        .link:visited {
            padding: 0.5rem 1rem;
            margin: 2rem;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            border-bottom: 2px solid transparent;
            transition: all 0.3s;
        }
        .link:hover,
        .link:active {
            color: #21597e;
            border-bottom: 2px solid #21597e;
        }
    }
}

h1 {
    text-shadow: 0.5rem 0.7rem 1rem grey;
    display: inline-block;
    font-size: 160%;
    font-weight: 600;
    margin-top: 2rem;
}

h1,
h2 {
    color: #275a6a;
}


/* ----- header css ends here ----- */


/* ----- main content css starts here ----- */

.home-page {
    margin-top: 2.3rem;
}

.upload-form {
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    box-shadow: 2px 2px 2px 2px grey;
    padding: 2rem;
    background: aliceblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload-form #file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.upload-form .file-input {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid grey;
}

.upload-form .input-label {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(40deg, #ff6ec4, #7873f5);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10%;
}

.input-label i {
    font-size: 2rem;
}

.upload-form .filename {
    width: 40%;
    height: 60px;
    padding: 5px;
    margin-left: 25px;
    margin-top: 10px;
    color: grey;
    // border: 1px solid grey;
    overflow: hidden;
}

.main-content {
    width: 80%;
    margin: auto auto 10rem auto;
}

.photos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .photo {
        width: 28.8rem;
        overflow: hidden;
        margin: 1rem;
        img {
            width: 100%;
            height: 30rem;
            transform: scale(1.1);
            transition: all 1s;
            &:hover {
                transform: scale(1.01);
            }
        }
    }
}


/* ----- main content css ends here----- */


/* ----- buttons css starts here----- */

button {
    margin-right: 0.5rem;
    border-radius: 10px;
}

.submit-btn {
    margin-top: 2rem;
    font-size: 2rem !important;
    padding: 0.5rem 2rem;
    background-color: #275a6a !important;
}

.disabled {
    pointer-events: none;
}


/* ----- buttons css ends here ----- */


/* ----- messages css starts here ----- */

.errorMsg {
    color: #f21e08;
    background: #fff0f0;
    padding: 1rem;
}

.successMsg {
    color: #00ff00;
    background: #077707;
    padding: 1rem;
}

.centered-message {
    width: 50rem;
    margin: auto;
}

.message {
    color: #0e1b1e;
    font-size: 2.5rem;
    margin-left: 1rem;
}

.loading-msg {
    text-align: center;
    font-size: 200%;
    height: 20rem;
    line-height: 20rem;
}


/* ----- messages css ends here ----- */

@media only screen and (max-width: 1200px) {
    .main-content {
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    .navigation .logo h1 {
        margin-left: 30%;
    }
    .main-content {
        width: 100%;
    }
    .upload-form {
        width: 80%;
        padding: 1.5rem;
    }
    .photos-list {
        .photo {
            width: 80%;
        }
    }
}